<!DOCTYPE html>
<html>
<head>
<LINK rel=stylesheet type="text/css" href="css/form.css">
</LINK>
</head>
<body>
<div class="form-style-5">
<form action="/newform" method="POST">
<fieldset>
<legend><span class="number">1</span>Personal Details</legend>
First Name
<!-- <input type="text" name="fn" value="<%=fn%>"> -->
<p><%=fn%></p>
Middle Name
<p><%=mn%></p>

Last Name
<p><%=ln%></p>

<br><br>
Date of Birth
<p><%=dob%></p>

Age
<p><%=age%></p>

<br><br>
Aadhar Number
<p><%=_id%></p>

Gender
<p><%=sex%></p>


</select>
<br><br>
Mobile Number
<p><%=phone%></p>

Email id
<p><%=email%></p>

<br>
Native Language
<p><%=nativelang%></p>
<br><br>
<legend><span class="number">2</span>Address</legend>
Address
<p><%=location%></p>

<legend><span class="number">3</span>Profile</legend>
Networks
<p><%=network%></p>

Usernames
<p><%=username%></p>

URLS
<p><%=url%></p>

<br><br>
<legend><span class="number">4</span>Education</legend>
Degree<p><%=degree%></p> 
CGPA <p><%=cgpa%></p>
Year of Graduation <p><%=yog%></p>
<br><br>
<legend><span class="number">5</span>Skills</legend>
Name <p><%=Name%></p>
Level <p><%=Level%></p>
<br><br>
Keywords <p><%=Keywords%></p>
Achievement<p><%=Achievement%></p> 
<br><br>
<legend><span class="number">6</span>Interests</legend>
Name<p><%=InterestName%></p> 
Keywords<p><%=InterestKeywords%></p>
<br><br>
<legend><span class="number">7</span>Work Experience</legend>
Company<p><%=company%></p> 
Position<p><%=position%></p> 
Website<p><%=website%></p>
<br><br>
<h2>References</h2>
Name <p><%=referenceName%></p>
Reference <p><%=reference%></p>
<br><br>
</fieldset>
</form>
</div>
</body>
</html>